<div id="commentDIV">
  <div id="commentHeader">
    <div>
      <a href="/user/profile/<%=comment.nickname%>">
        <%if(comment.avatarURL){%>
        <img src="<%=comment.avatarURL%>" alt="" />
        <%}else{%>
        <img src="/public/images/nouser.png" alt="" />
        <%}%>
      </a>
      <a href="/user/profile/<%=comment.nickname%>"
        ><span><%=comment.nickname%></span></a
      >
      <span id="time"><%=comment.createdAt%></span>
    </div>
    <div id="commentToolBox">
      <%if(locals.user.nickname===comment.nickname){%>
      <span id="commentToolEditBtn">✏</span>
      <%}%> <%if(locals.isLoggedIn===true){%>
      <span id="replyBtn">↩</span>
      <%}else{%>
      <a href="/user/login"><span id="replyBtn">↩</span></a>
      <%}%> <%if(locals.user.nickname===comment.nickname){%>
      <span id="commentDeleteBtn">✖</span>
      <%}%>
    </div>
  </div>
  <div id="commentBody"><%=comment.content%></div>
</div>
