<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/HEAD.ejs")%>
    <script defer src="/public/js/changepassword.js"></script>
    <title>Code:Me Change Password</title>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs") %>
    <div class="container">
      <h3>🚦 Change Password</h3>
      <h3 id="error"><%=locals.messages.message%></h3>
      <form action="" method="put" data-nickname="<%=locals.user.nickname%>">
        <%if(locals.user.socialOnly===true){%>
        <p><%=locals.user.oAuth%> user doesn't need current password</p>
        <%}%> <%if(locals.user.socialOnly===false){%>
        <input
          type="password"
          id="currentPassword"
          name="currentPassword"
          placeholder="Plese write current password"
          required
        />
        <%}%>
        <input
          type="password"
          id="newPassword1"
          name="newPassword1"
          placeholder="Plese write new password"
          required
        />
        <input
          type="password"
          id="newPassword2"
          name="newPassword2"
          placeholder="Plese verify the new password"
          required
        />
        <input type="submit" value="SUBMIT" />
      </form>
    </div>
  </body>
</html>
